{% comment %}
  PDP-Preis für Pflegesets: aktueller Preis + durchgestrichener Vergleichspreis (+10/15/20 %).
  Parameter: product, price_class (optional), show_badges (optional)
{% endcomment %}
{%- liquid
  assign variant = product.selected_or_first_available_variant
  assign price = variant.price
  assign available = variant.available | default: false

  capture save_percent_raw
    render 'pflege-pflegeset-save-percent', card_product: product
  endcapture
  assign save_percent = save_percent_raw | strip | plus: 0
-%}

{%- if save_percent > 0 -%}
  {%- liquid
    assign markup_multiplier = 100 | plus: save_percent
    assign compare_price = price | times: markup_multiplier | divided_by: 100

    if settings.currency_code_enabled
      assign money_price = price | money_with_currency
      assign money_compare = compare_price | money_with_currency
    else
      assign money_price = price | money
      assign money_compare = compare_price | money
    endif
  -%}
  <div
    class="
      price price--pflegeset-pdp
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      price--on-sale
    "
  >
    <div class="price__container pflege-pflegeset-pdp-price">
      <div class="price__sale pflege-pflegeset-pdp-price__row">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
        <span class="price-item price-item--sale price-item--last pflege-pflegeset-pdp-price__current">
          {{- money_price -}}
        </span>
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <s class="price-item price-item--regular pflege-pflegeset-pdp-price__compare">
          {{- money_compare -}}
        </s>
      </div>
    </div>
  </div>
{%- else -%}
  {%- render 'price',
    product: product,
    use_variant: true,
    show_badges: show_badges,
    price_class: price_class
  -%}
{%- endif -%}
