{% comment %} Statische Demo-Stimmen, wenn keine Kartenblöcke vorhanden sind. Nur eine ist aktiv (Single-Layout). {% endcomment %}
<article class="pflege-reviews-rail__card is-active" data-reviews-card data-reviews-index="0">
  <p class="pflege-reviews-rail__quote">„{{ 'sections.pflege_reviews_rail.demo_1_quote' | t }}“</p>
  <div class="pflege-reviews-rail__meta">
    <span class="pflege-reviews-rail__author">{{ 'sections.pflege_reviews_rail.demo_1_author' | t }}</span>
  </div>
</article>
<article class="pflege-reviews-rail__card" data-reviews-card data-reviews-index="1" hidden aria-hidden="true">
  <p class="pflege-reviews-rail__quote">„{{ 'sections.pflege_reviews_rail.demo_2_quote' | t }}“</p>
  <div class="pflege-reviews-rail__meta">
    <span class="pflege-reviews-rail__author">{{ 'sections.pflege_reviews_rail.demo_2_author' | t }}</span>
  </div>
</article>
<article class="pflege-reviews-rail__card" data-reviews-card data-reviews-index="2" hidden aria-hidden="true">
  <p class="pflege-reviews-rail__quote">„{{ 'sections.pflege_reviews_rail.demo_3_quote' | t }}“</p>
  <div class="pflege-reviews-rail__meta">
    <span class="pflege-reviews-rail__author">{{ 'sections.pflege_reviews_rail.demo_3_author' | t }}</span>
  </div>
</article>
