<section class="pflege-pdp-service-foot page-width" aria-label="{{ 'products.product.pflege_pdp.service_foot_aria' | t }}">
  <ul class="pflege-pdp-service-foot__list list-unstyled" role="list">
    <li class="pflege-pdp-service-foot__item" role="listitem">
      {% render 'pflege-icon', icon: 'package', width: 22 %}
      <span>{{ 'products.product.pflege_pdp.service_foot_shipping' | t }}</span>
    </li>
    <li class="pflege-pdp-service-foot__item" role="listitem">
      {% render 'pflege-icon', icon: 'headset', width: 22 %}
      <span>{{ 'products.product.pflege_pdp.service_foot_support' | t }}</span>
    </li>
    <li class="pflege-pdp-service-foot__item" role="listitem">
      {% render 'pflege-icon', icon: 'badge-check', width: 22 %}
      <span>{{ 'products.product.pflege_pdp.service_foot_quality' | t }}</span>
    </li>
    <li class="pflege-pdp-service-foot__item" role="listitem">
      {% render 'pflege-icon', icon: 'rotate-ccw', width: 22 %}
      <span>{{ 'products.product.pflege_pdp.service_foot_returns' | t }}</span>
    </li>
  </ul>
</section>
